<<AUTO_GENERATED_HEADER>>

#nullable enable
namespace PeakSWC.Mvvm.Remote
{
    public class ServerOptions
    {
        public int Port { get; set; } = 50052;
        public bool UseHttps { get; set; } = true;
        public string? CorsPolicyName { get; set; } = "AllowAll";
        public string[]? AllowedOrigins { get; set; } = null;
        public string[]? AllowedHeaders { get; set; } = null;
        public string[]? AllowedMethods { get; set; } = null;
        public string[]? ExposedHeaders { get; set; } = null;
        public string? LogLevel { get; set; } = "Debug";
        public string RunString { get; set; } = "WPF";
    }

    public class ClientOptions
    {
        public string Address { get; set; } = "http://localhost:50052";
    }
}
