<div class="gauge-container">
    <div class="gauge-title">
        <span>@Title</span>
    </div>
    <div class="gauge-body">
        <div class="gauge-filler" style="@($"background: {Background}; transform: {Transform}")">
        </div>
        <div class="gauge-cover">
            <div>
                @Text
            </div>
        </div>
    </div>
</div>